
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

  <body>
        <div class="center">
                <h1>Login</h1>
                  <form method="post">
                        <div class="txt_field">
                          <input type="text" name='username' required>
                          <span></span>
                          <label><i class="fa fa-user"></i> Username</label>
                        </div>

                        <div class="txt_field">
                          <input type="password" name='password'required>
                          <span></span>
                          <label><i class="fa fa-key"></i>Password</label>
                        </div>

                        <div class="pass">Forgot Password?</div>
                        <input type="submit" value="Login">
                        
                        <div class="signup_link">Not a member? <a href="{{url_for('signup')}}">Signup</a>
                        </div>
                  </form>
        </div>
  </body>
</html>
