<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

  <body>
        <div class="center">
                <div>
                    <a href="{{url_for('login')}}"><i class="fa fa-backward"></i>
                    </a>
                    <h1>Sign Up</h1>
                </div>
                  <form method="post">
                        <div class="txt_field">
                          <input type="text" name="username" required>
                          <span></span>
                          <label><i class="fa fa-user"></i> Username</label>
                        </div>

                        <div class="txt_field">
                            <input type="text" name="mob" required>
                            <span></span>
                            <label><i class="fa fa-mobile"></i>Mobile No.</label>
                        </div>

                        <div class="txt_field">
                          <input type="password" name="password" required>
                          <span></span>
                          <label><i class="fa fa-key"></i>Password</label>
                        </div>

                        <div class="txt_field">
                            <input type="password" name="c_password" required>
                            <span></span>
                            <label><i class="fa fa-lock"></i>Confirm Password</label>
                        </div>

                        <div class="pass">Privacy-policy</div>
                        <button type="submit" value="signup">Sign up</button>
                        
                        <div class="signup_link"><a href="{{url_for('home')}}">HOME</a>
                        </div>
                  </form>
        </div>
  </body>
</html>
